<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Box model </title>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        .content{
            height: 423px;
            width: 143px;
            background: cadetblue;
             /*margin: 5px 3px 6px 9x;  /*top right bottom left */
            margin: 5px 7px;  /* this 5px is top+bottom and 7px is left+right  and this is better */
            padding: 6px;
            /* border: 5px solid crimson;   --> this is shorthand method OR */
            border-width: 5px;
            border-style: solid;
            border-color: crimson;
            border-radius: 20px;  /* used for rounding corners  */
        }

    </style>
</head>
<body>
    <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui! Aspernatur molestias saepe quasi officia? Fugiat dicta assumenda consectetur minima? Inventore reprehenderit laboriosam in aliquid modi magnam sit recusandae aspernatur.
    </div>
</body>
</html>
